gradlew.bat
build/
*classes
.gradle/
.idea/
*.iml
*.ipr
*.iws
datastream.ipr
datastream.iws
out/
logs/
mainGeneratedRest/
mainGeneratedDataTemplate/
.DS_Store
ligradle/

# Kafka Web View data
kafkawebview_data/

# Local server properties
server-local.properties

# Local Brooklin data
.brooklin/
